{% extends "index.html" %}
{% block title %} Альбомы {% endblock %}

{% block head %}

	{{ super() }}
	<style>
		.albums{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.album{
			display: grid;
			margin: 15px;
			grid-template-columns: 0.24fr 0.5fr;
		}
		.field{
			margin: 10px;
		}
		.field b{
			margin-right: 10px;
		}
		.cover_img{
			height: 360px;
			weight: auto;
		}
		.cover{

		}
	</style>

{% endblock %}


{% block content %}
	<div class='albums'>
		{% for album in albums %}
		<div class='album'>
			<div class="info">
				<div class="field">
					<b>Название:</b>
					{{ album.title }}
				</div>

				<div class="field">
					<b>Группа:</b>
					{{ album.group_name }}
				</div>

				<div class="field">
					<b>Дата релиза:</b>
					{{ album.release_date }}
				</div>

				<div class="field">
					<b>Продюссер:</b>
					{{ album.producers_name }}
				</div>

				<div class="field">
					<b>Продолжительность альбома:</b>
					{{ album.duration }}
				</div>

				<div class="field">
					<b>Треклист</b>
					<br>
					{% for song in album.songs %}
						{{ song }} <br>
					{% endfor %}
				</div>
			</div>
			
			<div class="cover">
				<img class="cover_img" src="static/albums/{{ album.cover_path }}">
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}