{% extends "index.html" %}
{% block title %} Альбомы {% endblock %}

{% block head %}

	{{ super() }}
	<style>
		.albums{
			display: grid;
			grid-template-columns: 0.5fr 0.5fr 0.5fr;
		}
		.album{
			margin: 25px;
			padding: 10px;
			padding-left: 50px;
			background: #5f99f5;
		}
		.field{
			margin: 10px;
		}
		.field b{
			margin-right: 10px;
		}
		.cover_img{
			height: 360px;
			weight: auto;
		}
		.cover{
			margin-top: 25px;
		}
		.info{
			text-align: center;
			padding-right: 35px;
		}
	</style>

{% endblock %}


{% block content %}
	<div class='albums'>
		{% for album in albums %}
		<div class='album'>
			<div class="cover">
				<a href="/album/{{ album.title }}"><img class="cover_img" src="/static/models_images/{{ album.group_name }}/{{ album.cover_path }}"></a>
			</div>
			<div class="info">
				<div class="field">
					<h2> {{ album.title }} </h2>
				</div>

				<div class="field">
					<h4> {{ album.group_name }} </h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}